if SHIELD_BAYLEAF_LEFT

config ZMK_KEYBOARD_NAME
    default "Bayleaf"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_BAYLEAF_LEFT

if SHIELD_BAYLEAF_LEFT || SHIELD_BAYLEAF_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_BAYLEAF_LEFT || SHIELD_BAYLEAF_RIGHT
